@model IEnumerable<ASP.NETCoreIdentityCustom.ViewModels.BlogViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (ViewData.ContainsKey("success"))
{
    <p class="alert alert-success" role="alert">@ViewData["success"]</p>
}

@if (ViewData.ContainsKey("error"))
{
    <p class="alert alert-" role="alert">@ViewData["error"]</p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="blogtable" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User!.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @Html.Raw(item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User!.FullName)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
